.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin: 0% 3%;
}

.diceWinner {
  border: 1px solid #4ECCA3;
  border-radius: 20px;
  box-shadow: 0px 0px 60px #4ECCA3;
}


.diceLosser{
  border: 1px solid #cc634e;
  border-radius: 20px;
  box-shadow: 0px 0px 60px #cc634e;
}

.diceDraw{
  border: 1px solid #666666;
  border-radius: 20px;
  box-shadow: 0px 0px 60px #666666;
}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

h6 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

@media (max-width: 1028px) {
  h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4rem;
    color: #4ECCA3;
  }
}
